%h2.span5
  Add new paper

= simple_form_for @paper, url: users_user_papers_path(current_user), multipart: true do |f|
  .form-inputs
    = f.input :name
    = f.input :paper_file, as: :file

  .form-actions
    = f.button :submit, "Upload", class: "btn-primary"

