- content = informations_for(correctors)
%button.btn.btn-info.js-game-info-popover{"data-content" => content, "data-toggle" => "popover", :title => "Correctors", :type => "button", rel: "popover", "data-trigger" => "focus", "data-placement" => "top"}= 'Correctors'
