.top-content
  .inner-bg
    .container
      .row-login
        .col-sm-8.col-sm-offset-2.text
          %h1
            %strong Log In
          .description
            %p
              You are going to login on the platform.

      .row-login
        .col-sm-6.col-sm-offset-3.form-box
          .form-top
            .form-top-left
              %h3 Log In to Peer Correction
              %p Enter your email and password to log on:
            .form-top-right
              .glyphicon.glyphicon-lock

      .row-login
        .col-sm-6.col-sm-offset-3
          .form-bottom
            .login-form
            = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
              .form-inputs
                .input.email.optional.admin_email
                  %input#admin_email.string.email.optional{:autofocus => "autofocus", :name => "user[email]", :placeholder => "Email", :type => "email", :value => ""}
                  %input#admin_password.password.optional{:name => "user[password]", :placeholder => "Password", :type => "password"}

              .form-actions
                %button#submit{type: 'submit'}
                  Sign in
