#table
  - if @papers.any?
    %table.table.table-bordered.table-hover
      %thead
      %tr
        %th Name
        %th Grade
        %th Action
      %tbody
        = render partial: 'paper', collection: @papers
      %tfoot
        %tr
          %td{colspan: 8}
            = "Count: #{@papers.count}"
  - else
    You have no papers
