%div#sidebar-wrapper
  %ul.sidebar-nav
    %li.sidebar-brand
      = current_user.name
    %li
      = link_to '<i class="glyphicon glyphicon-home"></i>Home'.html_safe,  "#timeline"
    %li
      = link_to '<i class="glyphicon glyphicon-file"></i>Papers'.html_safe,  user_root_path
    %li
      = link_to '<i class="glyphicon glyphicon-tasks"></i>Pending corrections'.html_safe,  "#"
