%lu.nav.nav-tabs.nav-stacked
  %li.nav-header
  %li
    = link_to '<i class="icon-home"></i>Home'.html_safe,  user_root_path
  .clear

  %li
    = link_to '<i class="icon-pencil"></i>Papers'.html_safe,  user_root_path
