!!!5
%html
  %head
    %title PeerCorrection
    = stylesheet_link_tag  'login_form', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = yield
